extends main

block content
  h1(class='home')=title
  div(class='home-date')
    p=date
    ul
      li=data.stats.cal_in_avg
        |  calories per day
      li=data.stats.cal_burn_avg
        |  calories burned through exercise
      li=data.stats.sleep_avg
        |  hours of sleep
      li=data.stats.weight_avg
        | kg
  if data.exercise.length > 0
      h3 Exercise
        |  
        a(href='/view/exercise/create') +
      each item in data.exercise
        p=item.exercise_type
          |  (#{item.minutes} minutes)
        ul
          li=item.calorie_burn
            |  calories burned
  if data.nutrition.length > 0
      h3 Nutrition
        |  
        a(href='/view/nutrition/create') +
      each item in data.nutrition
        p=item.calories
          |  calories consumed today
        ul
          li=item.protein
            | g protein
          li=item.carbs
            | g carbs
          li=item.fat
            | g fat
  if data.sleep.length > 0
      h3 Sleep
        |  
        a(href='/view/sleep/create') +
      each item in data.sleep
        p=item.hours
          |  hours
  if data.weight.length > 0
      h3 Weight
        |  
        a(href='/view/weight/create') +
      each item in data.weight
        p=item.weight
          |  #{item.unit}