extends main

block content
  h1= title
    | 
    a(href=`/view/${section}/create`) +
  ul
  if view_list
      each item in view_list
        li
          if section === 'exercise'
            a(href=item.url) #{item.date_formatted} 
            | #{item.exercise_type}: #{item.minutes} mins - #{item.calorie_burn}
          if section === 'nutrition'
            a(href=item.url) #{item.date_formatted} 
            | - #{item.calories} calories
          if section === 'sleep'
            a(href=item.url) #{item.date_formatted} 
            | - #{item.hours} hours
          if section === 'weight'
            a(href=item.url) #{item.date_formatted} 
            | - #{item.weight}#{item.unit}
  else
    li No data available. (2)
