extends main

block content
  h1=title
  p Are you sure you want to 
    strong delete 
    | this record? 
  ul
    if section === 'exercise'
      li #{item.date_formatted}, #{item.exercise_type}
    if section === 'nutrition'
      li #{item.date_formatted}, #{item.calorie_burn}
    if section === 'sleep'
      li #{item.date_formatted}, #{item.hours}
    if section === 'weight'
      li #{item.date_formatted}, #{item.weight}#{item.unit}

  div(style='margin-left:20px;margin-top:20px')
  hr
  form(method='POST' action='')
      div.form-group
          input#itemid.form-control(type='hidden', name='itemid', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete